<!-- 单个文章卡片 -->
<article class="github-card">
    <div class="card-header">
      <a href="<%= url_for(post.path) %>" class="card-title">
        <i class="far fa-file-alt"></i> 
        <%= post.title %>
      </a>
      <div class="meta">
        <span class="date"><%= post?.date?.format('YYYY-MM-DD') %></span>
        <% if(post?.tags){ %>
            <% if(post.tags && post.tags.length > 0) { %>
                <span class="tag">
                  <i class="fas fa-tag"></i> 
                  <%= post.tags?.data[0]?.name %>
                </span>
              <% } %>
        <% } %>
        <pre> <> </pre> 
      </div>
    </div>
    <div class="card-excerpt">
      <%= post.excerpt || post.content.substring(0, 100) + '...' %>
    </div>
  </article>