<!-- themes/my-hexo-theme/layout/post.ejs -->
<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/nav') %>
  <article class="post-content">
    <h1><%= page.title %></h1>
    <div class="post-meta">
      <time><%= page.date.format('YYYY-MM-DD') %></time>
      <span>作者: <%= page.author %></span>
    </div>
    <div class="post-body">
      <%- page.content %>
    </div>
  </article>
  <%- partial('_partial/footer') %>
  <script src="<%= url_for('js/main.js') %>"></script>
</body>
</html>